
	<div id="editBlock">
		<form novalidate class="form-inline" role="form" style="float:left">

			<div class="form-group">
				<b>Name:</b> <input type="text" class="form-control" ng-model="newOrgUnit.name" required/>
			</div>
			<div class="form-group">
				<b> Shortname:</b> <input type="text" class="form-control" ng-model="newOrgUnit.shortName" required />
			</div>
			<br /><br />

			<div class="form-group">
				<b>Unit code:</b> <input type="text" class="form-control" ng-model="newOrgUnit.code" required/>
			</div>
			<div class="form-group">
				<b>Parent:</b> <input type="text" class="form-control" ng-model="newOrgUnit.parent.name" required />
			</div>
			<br /><br />

			<div class="form-group">
				<label for="UnitTypeSelector">Unit type:</label>
				<select class="form-control" id="UnitTypeSelector">
					<option>Placeholder1</option>
					<option>Placeholder2</option>
					<option>Placeholder3</option>
					<option>Placeholder4</option>
				</select>
			</div>
			</br /><br />

			<div class="form-group">
				<b>Opening date:</b> <input type="text" class="form-control" ng-model="newOrgUnit.openingDate" required/>
			</div>
			</br /><br />


			<div class="form-group">
				<b>Coordinates</b></br />
				<div class="form-group">
					Latitude: <input type="text" class="form-control" ng-model="newOrgUnit.latitude"  ng-disabled="newOrgUnit.level != 4"/>
				</div>
				<div class="form-group">
					Longitude: <input type="text" class="form-control" ng-model="newOrgUnit.longitude" ng-disabled="newOrgUnit.level != 4"/>
				</div>
				<br></br>

				<button type="submit" class="btn btn-sm" ng-click="getLocation()" ng-disabled="newOrgUnit.level != 4">Get location from browser</button>
				<button type="submit" class="btn btn-sm" ng-click="showMap()" ng-if="!mapShow" ng-disabled="newOrgUnit.level != 4">Open map</button>
				<br ng-if="newOrgUnit.level != 4">Adding/editing coordinates disabled for areas</br>
			</div>
			<br></br>

			<div class="form-group">
				<b>Active:</b> <input type="radio" ng-model="newOrgUnit.active" ng-value="true" />yes
				<input type="radio" ng-model="newOrgUnit.active" ng-value="false" />no<br />
			</div>

			<br></br>
		
			<button ng-click="updateOrgUnit();editOrgUnit()" class="btn btn-success btn-sm">Save</button>
		</form>
	</div>
