
	<div id="editBlock">
		<form name="editUnitForm" novalidate class="form-inline" role="form" style="float:left">

			<div class="form-group">
				<b>Name:</b> <input type="text" class="form-control" ng-model="newOrgUnit.name"/>
			</div>
			<div class="form-group">
				<b> Shortname:</b> <input type="text" class="form-control" ng-model="newOrgUnit.shortName"  />
			</div>
			<br /><br />

			<div class="form-group">
				<b>Unit code:</b> <input type="text" class="form-control" ng-model="newOrgUnit.code" />
			</div>
			<div class="form-group">
				<b>Parent:</b> <input type="text" class="form-control" ng-model="newOrgUnit.parent.name"  />
			</div>
			<br /><br />

			<div class="form-group">
				<b>Opening date:</b> <input name="openingDate" type="text" class="form-control" ng-pattern='/^(199\d)|([2-9]\d{3})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$/' ng-model="newOrgUnit.openingDate" />
			</div>
			<span style="color: red" ng-show="editUnitForm.openingDate.$error.pattern">Incorrect Format, should be YYYY-MM-DD</span>
			</br /><br />									
			
			
				<b>Coordinates</b></br />
				<div class="form-group">
					Latitude: <input name="latitude" type="text" class="form-control" ng-model="newOrgUnit.latitude" ng-pattern='/^[(-9)-9]{1,7}(\.[0-9]+)?$/'  ng-disabled="newOrgUnit.level != 4"/>
				</div>
				<div class="form-group">
					Longitude: <input name="longitude" type="text" class="form-control" ng-model="newOrgUnit.longitude" ng-pattern='/^[(-9)-9]{1,7}(\.[0-9]+)?$/' ng-disabled="newOrgUnit.level != 4"/>
				</div>
				<br></br>
				<span style="color: red" ng-show="editUnitForm.latitude.$error.pattern">Incorrect latitude, should be 0.6565</span>
			
				<br></br>

				<button type="submit" class="btn btn-sm" ng-click="getLocation()" ng-disabled="newOrgUnit.level != 4">Get location from browser</button>
				<nobr ng-if="newOrgUnit.level != 4">Adding/editing coordinates disabled for areas</nobr><br>
			
			<br></br>

			<div class="form-group">
				<b>Active:</b> <input type="radio" ng-model="newOrgUnit.active" ng-value="true" />yes
				<input type="radio" ng-model="newOrgUnit.active" ng-value="false" />no<br />
			</div>

			<br></br>
		
			
			<button ng-click="updateOrgUnit();editOrgUnit()" class="btn btn-success btn-sm" ng-disabled="editUnitForm.$invalid">Save</button>
			<p ng-if="editUnitForm.$invalid" style="color:red">You have to fill in all required fields</p>
		</form>
	</div>
