<h2>Organisation Units</h2>
<div>
	<p>
		<button id="previousButton"  class="btn btn-sm" ng-click="clearFilter(); data(currOrgUnit.parent)" ng-disabled="!currOrgUnit.parent" type="submit">Previous level</button>
		<button id="backButton1"  class="btn btn-sm" ng-click="clearFilter(); clearMap(); data(previousOrgUnit)" ng-disabled="!previousOrgUnit" type="submit">Back</button>
		<a href="#/view2"><button id="addUnitButton" class="btn btn-sm" type="submit">Add unit</button></a>
	</p>
</div>



<div id="filterBox">
	Filter <input ng-model="searchText">
<br></br>	
</div>

<div id="currentUnit" style="float:left;clear:left">
	<p>
		<b>Current unit: </b>
		<b ng-show="currOrgUnit"> {{currOrgUnit.name}}</b>
		<b ng-show="!currOrgUnit"> None</b>		
	</p>
	<p>
		<a href="#/view3"><button id="showInfoButton"  class="btn btn-sm" ng-disabled="!currOrgUnit" type="submit">Show info</button></a>
	</p>
</div>




<table id="unitTable-filter" ng-if="searchText && currOrgUnit.level != 4">
	<tr><th>Name</th>
  		<tr ng-repeat="x in currentUnits | exact:searchText"  ng-click="data(x)">
    <td style="cursor:pointer">{{x.name}}</td>
  	</tr>
</table>




<table id="unitTable" ng-if="currOrgUnit.level != 4 && !searchText">
	<tr>
		<th>name</th>
	</tr>
  	<tr ng-repeat="x in currOrgUnit.children" ng-click="data(x)">  		
    	<td style="cursor:pointer">{{ x.name }}</td>
  	</tr>
</table>


<div id="info" ng-if="currOrgUnit.level == 4">
	<table class="table-striped">
		<tr>
			<th>Name</th>
			<td>{{currOrgUnit.name}}</td>
		</tr>
		<!-- 
		<tr>
			<th>Href</th>
			<td>{{currOrgUnit.href}}</td>
		</tr>
		 -->
		<tr>
			<th>Shortname</th>
			<td>{{currOrgUnit.shortName}}</td>
		</tr>
		
		<tr>
			<th>Id</th>
			<td>{{currOrgUnit.id}}</td>
		</tr>
	
		<!-- 
		<tr>
			<th>Created</th>
			<td>{{singleOrgUnit.created}}</td>
		</tr>
		 -->
		<tr>
			<th>Coordinates</th>
			<td>{{currOrgUnit.coordinates}}</td>
		</tr>
	</table>
</div>

<div id="map-canvas"></div> <!--  ng-show="singleOrgUnit.level == 4"></div> -->



